* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 150vh;
  padding-bottom: 88px;
}
input[type="range"] {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.6);
  background-size: 50% 100%;
  width: 90%;
  height: 7px;
  border-radius: 5px;
  background-image: linear-gradient(#a4f3eb, #a4f3eb);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #10d8c4;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover{
  background-color: #24AEA1;
}
.main {
  display: flex;
  padding: 57px 32px 32px 31px;
}
.circles {
  margin: auto;
  position: relative;
}
.title {
  position: absolute;
  width: 90%;
  font-size: 20px;
  margin: auto;
  top: 90px;
  color: #293356;
  font-size: 20px;
  font-family: Manrope;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  line-height: normal;
}
.paragraph {
  position: absolute;
  margin: auto;
  font-size: 13px;
  width: 80%;
  text-align: center;
  padding: 0 70px;
  top: 120px;
  font-weight: 600;
  line-height: 20px;
  color: #848ead;
}

.box {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  padding-top: 34px;
  margin-bottom: 88px;
}
.inputbox {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.pageviews {
  color: #848ead;
  text-align: center;
  font-size: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.714px;
  text-transform: uppercase;
  order: -2;
}
.numbermonth {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 7px;
  margin-top: 24px;
  order: 1;
}
.numbers {
  color: #293356;
  text-align: right;
  font-size: 32px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.8px;
}
.month {
  color: #848ead;
  text-align: center;
  font-size: 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
.range {
  border-radius: 5px;
  margin-top: 25px;
  order: -1;
}
.middlepart {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: auto;
  margin-top: 36px;
}
.monthly {
  color: #848ead;
  text-align: center;
  font-size: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.grey {
  width: 43px;
  height: 20px;
  border-radius: 15px;
  background-color: #cfd8ef;
  margin-top: -3px;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0 0 1.96px 5px;
  cursor: pointer;
}
.ball {
  background-color: #fff;
  z-index: 3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.yearly {
  color: #848ead;
  text-align: center;
  font-size: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.discount {
  border-radius: 9.5px;
  background: #feede8;
  width: 41px;
  height: 19px;
  flex-shrink: 0;
  color: #ff8d68;
  text-align: center;
  font-size: 10px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: -3px;
}
.hidden {
  display: none;
}
.line {
  width: 100%;
}
.line {
  width: 100%;
  background-color: #ecf0fb;
  height: 2px;
  margin-top: 45px;
}
.lastpart {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 11px;
}
.first,
.second,
.third {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.check {
  width: 6.949px;
  height: 5.042px;
  margin-top: 5px;
}
.unlimited,
.dataownership,
.emailreports {
  color: #848ead;
  font-size: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.toggle{
  background-color: #7AEADF;
}
.active {
  margin-left: 15px;
}
.starttrial {
  margin: auto;
  margin-top: 33px;
  border-radius: 20.5px;
  background: #293356;
  padding: 13px 46px;
  color: #becdff;
  text-align: center;
  font-size: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 32px;
}
@media (min-width: 90rem) {
  body {
    background-size: 100%;
  }
  .main {
    display: flex;
  }
  .title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    left: 60px;
  }
  .paragraph {
    left: 140px;
    font-size: 15px;
    text-align: center;
    top: 140px;
  }
  .inputbox {
    display: flex;
    flex-direction: column;
    margin: -1px;
    width: 100%;
    padding: 58px 48px 0 48px;
  }
  .pageviews {
    text-align: left;
  }
  .numbermonth {
    order: 1;
    margin: 0;
    text-align: right;
    margin-left: auto;
    margin-top: -35px;
  }
  .numbers {
    font-size: 40px;
    letter-spacing: -1px;
  }
  .month {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .range {
    order: 1;
    margin-top: 58px;
  }
  input[type="range"] {
    width: 100%;
  }
  .lastpart {
    display: flex;
    flex-direction: row;
     padding: 0 48px 58px 48px;;
  }
  .box {
    width: 40%;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 0;
  }
  .discount {
    width: 70px;
    font-size: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .first,
  .third {
    margin-left: 0;
  }
  .hidden {
    display: block;
  }
  .middlepart {
    margin-top: 57px;
    gap: 30px;
     padding: 0 48px;
  }
  .starttrial {
    cursor: pointer;
    width: 170px;
    height: 41px;
    text-align: right;
    margin-left: auto;
    margin: auto 0;
  }
  .starttrial:hover {
    color: #fff;
  }
}
